body{font: 12px/1.5 arial,simsun;color: #333;}
#sca_goods{width: 1200px;margin: 0 auto;overflow: hidden;font-size: 14px;margin-top: 10px;}
#sca_goods #breadcrumb{height: 45px;line-height: 45px;overflow: hidden;float: left;}
#sca_goods #breadcrumb dt{float: left;position: relative;padding-left: 30px;}
#sca_goods #breadcrumb dt span{background:url(../img/core.png);width: 22px;height: 22px;display: block;background-position: -184px -618px;position: absolute;top: 12px;left: 0px;}
#sca_goods #breadcrumb dt a:hover{color: #ff3344;}
#sca_goods #breadcrumb dt a{color: #333;}
#sca_goods #breadcrumb dd{float: left;margin-left: 5px;color: #666;}
#comwrap{width: 1200px; margin: 0 auto;overflow: hidden;font: 12px/1.5 arial,simsun;}
#comwrap #scarf_cont{width: 1198px;border: 1px solid #e6e6e6;padding: 20px 0px;overflow: hidden;}

#scarf_cont .pt-data-lt{float: left;width: 480px;position: relative;z-index: 10;}

.pt-data-lt-1 {
    float: left;
    width: 80px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.pt-data-lt-2 {
    float: left;
    width: 400px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.jqzoomDiv {
    height: 372px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 80px;
}
.pt-data-lt a.data-ltli-top {
    width: 23px;
    height: 13px;
    background-position: -96px -739px;
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 20;
    cursor: pointer;
}
.pt-data-lt a.data-ltli-bottom {
    position: absolute;
    bottom: 5px;
    left: 30px;
    display: block;
    width: 23px;
    height: 13px;
    background-position: -218px -739px;
    z-index: 20;
    cursor: pointer;
}
.i-core{background: url(../img/core.png);}
.pt-data-lt-1 ul li {
    width: 62px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
}
.pt-data-lt-1 ul li img {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
}
.pt-data-lt-2 {
    float: left;
    width: 400px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background: red;
}
.pt-share {
    width: 480px;
    height: 25px;
    line-height: 25px;
    margin-top: 15px;
}
.pt-share ul {
    margin-left: 30px;
}
.pt-share ul li {
    float: left;
    color: #666;
    width: 80px;
    position: relative;
    padding-left: 30px;
}
.pt-core {
	width: 23px;
    height: 23px;
    position: absolute;
    background: url(../img/core.png) no-repeat;
}
.pt-share1 {
    top: 2px;
    left: 0px;
    background-position: -346px -734px;
}
.pt-share2 {
    top: 2px;
    left: 0px;
    background-position: -469px -734px;
}
.pt-share3 {
    top: 2px;
    left: 0px;
    background-position: -598px -734px;
}
.pt-share4 {
    top: 2px;
    left: 0px;
    background-position: -719px -734px;
}
#scarf_cont .pa_data_me{    float: left;width: 500px;margin-left: 10px;}
.data-me-tit {
    font-size: 15px;
    font-family: Microsoft YaHei,simhei;
    line-height: 25px;
    overflow: hidden;
    color: #666;
}
span.pt-zy {
    width: 58px;
    height: 20px;
    display: block;
    background-position: -324px -828px;
    float: left;
    margin-top: 4px;
}
.data-me-tit span {
    margin-right: 10px;
}
.men3-bg {
    background: url(../img/scarfs/scarf_cont/men-bg.png) no-repeat;
}
.data-pval {
    width: 480px;
    background: #f7f7f7;
    margin-top: 10px;
    padding: 10px 10px;
}
.data-pval ul li.pval-ms {
    color: #333;
    line-height: 30px;
    height: 30px;
}
.data-pval ul li.pval-ms {
    color: #333;
    line-height: 30px;
    height: 30px;
}
.data-pval ul li.pval-ms em {
    font-size: 18px;
    font-weight: bold;
    color: #ff3344;
}
.data-pval ul li.pval-ms del {
    color: #b2b2b2;
    margin-left: 8px;
}
.data-attr ul {
    overflow: hidden;
    margin-top: 10px;
}
.data-attr ul li {
    float: left;
    line-height: 25px;
}
.data-attr ul li.data-attr1 {
    color: #666;
    width: 60px;
    margin-left: 10px;
    line-height: 38px;
}
.data-attr ul li.data-attr2 {
    width: auto;
    max-width: 400px;
    width: 400px;
}
.ptattr {
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}
.ptattr-none {
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    border: 1px dashed #ccc;
    cursor: not-allowed;
    margin-right: 5px;
    margin-top: 5px;
    color: #ccc;
}

.attr-sec {
    border: 1px solid #ff3344;
}
.attr-sec em {
    width: 18px;
    height: 14px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-position: -363px -500px;
}
.i-core {
    background: url(../img/core.png) no-repeat;
}
.data-number {
    margin-top: 15px;
    overflow: hidden;
}
.data-number ul li.data-number5 {
    width: auto;
    min-width: 60px;
}
.data-number ul li.data-number5 {
    color: #666;
    width: 60px;
    margin-left: 10px;
}
.data-number ul li {
    float: left;
}
.data-number ul li.data-number5 div.dtnum2 {
    line-height: 20px;
}
.data-number ul li.data-number5 div.dtnum3 {
    line-height: 20px;
}
.data-number ul li.data-number5 div.dtnum3 em {
    color: #fe8905;
    margin: 0px 2px;
}
.data-number ul li.data-number2 {
    width: 65px;
}
.pt-nk {
    float: left;
}
input.datanub-value {
    width: 28px;
    height: 39px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #ccc;
}
.pt-ns {
    float: left;
}
.pt-ns a {
    width: 24px;
    height: 19px;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 19px;
    color: #333;
    border-left: none;
}
.data-number ul li.data-number3 a {
    width: 140px;
    height: 40px;
    display: block;
    color: #fff;
    background: #ff3344;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-left: 10px;
}
.data-sao {
    width: 145px;
    height: 40px;
    border: 1px solid #f00;
    position: absolute;
    top: 0px;
    right: 30px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}
.data-sao span {
    width: 18px;
    height: 26px;
    display: block;
    position: absolute;
    top: 8px;
    left: 15px;
    background-position: -394px -852px;
}
.data-sao ul {
    margin-left: 40px;
}
.data-sao ul li.lids1 {
    color: #999;
    margin-top: 3px;
}
.data-sao ul li.lids2 {
    color: #fe8905;
}
.dstelma {
    width: 143px;
    height: 130px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: -132px;
    left: 0px;
    background: #fff;
    text-align: center;
    display: block;
}
.dstelma img {
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-left: 10px;
}




#scarf_cont .pt-data-rt{float: right;width: 195px;margin-right: 8px;overflow: hidden;}
.data-rt-brank {
    width: 160px;
    height: 90px;
    text-align: center;
    border-bottom: 1px dashed #e6e6e6;
    margin: 0 auto;
}
.data-rt-brank img {
    width: 160px;
    height: 90px;
}
.data-rt-val {
    border-bottom: 1px dashed #e6e6e6;
    padding-bottom: 15px;
}
.data-rt-val ul {
    margin-top: 5px;
}
.data-rt-val ul li {
    color: #999;
    line-height: 25px;
    overflow: hidden;
    position: relative;
    margin-top: 2px;
}
.rt-val1 {
    width: auto;
    min-width: 70px;
}
.rt-val1 {
    width: 70px;
    text-align: right;
    float: left;
}
.rt-val2 {
    width: auto;
}
.rt-val2 {
    float: left;
    width: 115px;
    overflow: hidden;
    height: 25px;
}
.data-rt-val ul li.ptvalli {
    cursor: pointer;
}
.data-rt-val ul li span {
    width: 18px;
    height: 26px;
    display: block;
    position: absolute;
    top: 0px;
    left: 75px;
    background-position: -394px -852px;
}
.data-rt-val ul li.ptvalma {
    text-align: center;
    margin-top: 15px;
}
.data-rt-val ul li.ptvalma img {
    width: 111px;
    height: 111px;
}
.data-rt-other {
    margin-top: 15px;
    overflow: hidden;
}
.data-rt-other ul {
    overflow: hidden;
    float: left;
    margin-left: 12px;
    margin-top: 5px;
}
.data-rt-other ul li.or-hwc {
    background-position: -688px -849px;
}
.data-rt-other ul li.rt-other1 {
    width: 45px;
    height: 35px;
}
.pt-core {
    background: url(../img/core.png) no-repeat;
}
.data-rt-other ul li.rt-other2 {
    color: #999;
    line-height: 90px;
}
.data-rt-other ul li.or-dlg {
    background-position: -774px -849px;
}
.data-rt-other ul li.or-zpw {
    background-position: -120px -1114px;
}
/*中间内容*/
.pt-warp {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.left {
    float: left;
    width: 190px;
}
.left  .sea-left {
    float: left;
    width: 190px;
    overflow: hidden;
}
.left  .sea-left .sea-left-1 {
    float: left;
    width: 188px;
    padding-bottom: 20px;
    border: 1px solid #e6e6e6;
}
.sea-left-t1 {
    height: 40px;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    text-align: center;
    line-height: 40px;
    color: #c71417;
    font-weight: bold;
}
.sea-left-t1 em {
    color: #666;
    margin-left: 4px;
}
.sea-left-t1 span.pt-hot {
    width: 37px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: -960px -845px;
}
.sea-left-con ul li a img {
    width: 140px;
    height: 140px;
}
.sea-left-con ul li.left-conli-val {
    color: #ff3344;
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    display: block;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
}
.search-core {
    background: url(../img/core.png) no-repeat;
}
.sea-left-con ul {
    width: 145px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
}
.pt-d-right {
    width: 1000px;
    float: right;
}
.protab-base {
    overflow: hidden;
    background: #fafafa;
    border: 1px solid #e6e6e6;
}
.protab-base span.selected {
    height: 38px;
    line-height: 38px;
    color: #c51811;
    background: #fff;
    border-top: 2px solid #c51811;
}
.protab-base span {
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    font-size: 12px;
    width: 180px;
    text-align: center;
    background: #e6e6e6;
    font-weight: bold;
    color: #666;
    border-bottom: none;
    border-top: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.protab-basecon {
    border: 1px solid #e6e6e6;
    border-top: none;
    overflow: hidden;
}
.seav-detail {
    padding-left: 30px;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-top: 20px;
}
.seav-detail dl {
    width: 960px;
    overflow: hidden;
}
.seav-detail dl dd {
    color: #666;
    line-height: 25px;
    width: 240px;
    float: left;
}
.seav-dtu {
    margin-top: 15px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 10px;
}
